[Interface]
PrivateKey = {{ WG_KEY.stdout_lines[0] }}
ListenPort = {{ ListenPort }}
SaveConfig = false
Address = {{ vpn_ip }}/24

{% for host in play_hosts %}
{% if inventory_hostname != hostvars[host]['inventory_hostname'] %}
[Peer]
PublicKey = {{ hostvars[host]['WG_PUB'].stdout_lines[0] }}
AllowedIPs = {{ hostvars[host]['vpn_ip'] }}/32, {{ hostvars[host]['add_routes']}}, 

Endpoint = {{ hostvars[host]['ansible_host'] }}:{{ ListenPort }}

{% endif %}
{% endfor %}
